@{
	ViewBag.Title = "Подготовка и аттестация персонала";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AboutBackgroundPartial");
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_AboutNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<h2>Центр аттестации персонала</h2>
						<p>
							В целях эффективного осуществления деятельности по строительному контролю ООО
«Стройнефтегаз» учредило учебный центр АНО «Учебный центр «Промышленная
безопасность», который осуществляет подготовку и аттестацию персонала в следующих
областях:
						</p>
						<ul>
							<li>подготовка руководителей и специалистов организаций, осуществляющих работы по
строительству объектов, подконтрольных Ростехнадзору (аттестация по промышленной
безопасности)</li>
							<li>неразрушающий контроль</li>
							<li>пожарно-технический минимум для руководителей, лиц, ответственных за пожарную
безопасность пожароопасных производств</li>
							<li>контроль и надзор за строительством, реконструкцией и капитальным ремонтом объектов
магистральных трубопроводов (аттестация по строительному контролю)</li>
							<li>охрана труда</li>
						</ul>
						<p>
							Особое внимание при подготовке и аттестации персонала в учебном центре уделяется
практическим занятиям по работе с приборами и оборудованием, применяемым в области
визуально-измерительного, радиографического, ультразвукового и других видов контроля.<br />
							<br />
							Программы обучения учебного центра разработаны в соответствии с требованиями
нормативно-технических документов РФ с учетом практического опыта работы на объектах
строительства ОАО АК «Транснефть», ОАО «Газпром», ОАО НК «Роснефть».
						</p>

					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
