@{
	ViewBag.Title = "Строительный инжиниринг";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AboutBackgroundPartial");
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_AboutNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<div class="accordion-group second-level-accordion">
							<div class="accordion-body">
								<div class="accordion-inner">
									<h2>Задачи организации строительного производства</h2>
									<p>
										Организация строительного производства ориентирована на совместную работу с Генподрядными (подрядными) организациями в области обеспечения процесса строительства и включает в себя:
									</p>
								</div>
							</div>
							<div class="accordion" id="accordion-activity-list">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#engineering-collapse"><span>Строительный инжиниринг&nbsp</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="engineering-collapse" class="accordion-body collapse">
									<div class="accordion-inner">
										<p>
											Строительный инжиниринг - оказание услуг по подготовке и инженерному обеспечению строительства промышленных и гражданских объектов.
Строительный инжиниринг ООО «Стройнефтегаз» включает в себя следующий комплекс услуг:
										</p>
										<ul>
											<li>прием-передача проектно-сметной документации</li>
											<li>прием-передача площадки, трассы, карьера под строительство</li>
											<li>прием-передача незавершённого строительства</li>
											<li>контроль качества строительно-монтажных работ</li>
											<li>организация проведения производственных совещаний по строительству объекта</li>
											<li>работа с замечаниями к проектно-сметной документации</li>
											<li>приёмка выполненных объёмов работ</li>
											<li>разработка графиков производства работ</li>
											<li>информационное обеспечение Заказчика о ходе строительства</li>
											<li>организация работы приёмочных комиссий</li>
											<li>комплектация приёмо-сдаточной документации</li>
											<li>выполнение по согласованию с Заказчиком иных услуг в строительстве</li>
										</ul>
									</div>
								</div>
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#geo-collapse"><span>Геодезический Инжиниринг&nbsp</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="geo-collapse" class="accordion-body collapse">
									<div class="accordion-inner">
										<p>
											Геодезический инжиниринг - это комплекс измерений, вычислений и построений в чертежах
и на местности, обеспечивающих правильное и точное размещение зданий и сооружений, а
также возведение их конструктивных и планировочных элементов в соответствии с
геометрическими параметрами проекта и требованиями нормативных документов.
Геодезический инжиниринг ООО «Стройнефтегаз» включает в себя следующие основные
виды работ:
										</p>
										<ul>
											<li>создание геодезической разбивочной основы на строительной площадке</li>
											<li>вынос в натуру осей зданий и сооружений с закреплением их на местности</li>
											<li>вынос в натуру высотных реперов для строительства зданий и сооружений с закреплением
их на местности</li>
											<li>проведение контрольных геодезических съемок, составление исполнительных схем</li>
											<li>геодезическое сопровождение выемки котлованов (насыпи грунта), с последующим точным
подсчетом объемов земляных масс, составлением картограмм</li>
											<li>наблюдения за деформациями, мониторинг осадок</li>
											<li>ведение исполнительной документации</li>
										</ul>
									</div>
								</div>
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#control-collapse"><span>Неразрушающий контроль сварных соединений&nbsp</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="control-collapse" class="accordion-body collapse">
									<div class="accordion-inner">
										<p>
											Неразрушающий контроль - обязательная и регулярная оценка характеристик материалов и
оборудования, которая проводится для выявления скрытых дефектов без разрушения
контролируемых образцов. Неразрушающий контроль проводится при строительстве
опасных производственных объектов нефтегазодобывающей отрасли.
ООО «Стройнефтегаз» проводит следующие виды неразрушающего контроля:
										</p>
										<ul>
											<li>визуально-измерительный</li>
											<li>радиационный (рентгеновский)</li>
											<li>акустический (ультразвуковой)</li>
											<li>контроль проникающими веществами</li>
											<li>магнитный контроль</li>
											<li>контроль изоляции оборудования и трубопроводов (в т.ч. после засыпки)</li>
										</ul>
										<p>
											Аттестованная лаборатория ООО «Стройнефтегаз» имеет возможность проведения
механических статических и динамических испытаний, исследование структуры материалов
(металлографические исследования и др.).
										</p>
									</div>
								</div>
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#materials-collapse"><span>Инжиниринг строительных материалов и конструкций&nbsp</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="materials-collapse" class="accordion-body collapse">
									<div class="accordion-inner">
										<p>
											Инжиниринг строительных материалов и конструкций - это комплекс работ, проводимый в
процессе строительства для определения соответствия применяемых материалов и
конструкций требованиям проектной и нормативной документации.
Инжиниринг строительных материалов ООО «Стройнефтегаз» включает в себя
лабораторные исследования качества материалов, изделий и конструкций, в том числе
грунтов, цемента, щебня, песка, стальных изделий и арматуры, строительных растворов,
кирпича, бетонных смесей и добавок к бетонам.
По результатам испытаний выдаются соответствующие заключения установленного образца.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#employees-collapse"><span>Сведения о персонале&nbsp</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="employees-collapse" class="accordion-body collapse">
									<div class="accordion-inner">
										<p>
											Для осуществления деятельности по организации строительного производства персонал
ООО «Стройнефтегаз» отвечает следующим требованиям:
										</p>
										<ul>
											<li>высшее специальное образование</li>
											<li>стаж работы по специальности свыше трёх лет</li>
											<li>аттестация на право выполнения работ по строительному контролю</li>
											<li>аттестация в соответствии с требованиями Национального агентства контроля и сварки
(НАКС) специалистов сварочного производства II, III, IV уровней</li>
											<li>аттестация специалистов по неразрушающему контролю сварных соединений I, II, III
уровней на ВИК, РК, УЗК, МК, ПВК, ПВТ</li>
											<li>аттестация по промышленной безопасности А, Б1, Б2, Б4, Б7, Б8, Б9, Г1</li>
											<li>аттестации по электробезопасности I-V группы, охране труда, пожарной безопасности</li>
										</ul>
									</div>
								</div>
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#tech-collapse"><span>Сведения о технической оснащенности&nbsp</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="tech-collapse" class="accordion-body collapse">
									<div class="accordion-inner">
										<p>
											Для осуществления деятельности по организации строительного производства ООО
«Стройнефтегаз» располагает следующими приборами и оборудованием:
										</p>
										<ul>
											<li>поверенные комплекты средств визуально-измерительного контроля</li>
											<li>поверенное электронное геодезическое оборудование (теодолиты, нивелиры, тахеометры) с
лицензионным программным обеспечением для обработки результатов измерений</li>
											<li>оборудование для неразрушающего контроля сварных соединений и изоляции
(рентгеновские аппараты, ультразвуковые дефектоскопы и толщиномеры, магнитные и
электроискровые дефектоскопы, установки контроля герметичности и контроля изоляции
подземных трубопроводов, адгезиметры, дозиметры, негатоскопы, денситометры,
люксметры)</li>
											<li>комплекты необходимого лабораторного оборудования и приборов</li>
											<li>комплекты оргтехники</li>
											<li>автотранспорт</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
