@{
	ViewBag.Title = "Экспертиза промышленной безопасности";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="slides-canvas">
	<img src="http://www.nord-stream.com/media/thumbs/picture_library/rgb_small/ru/2011/09/background-about-us_3236_20110929.jpg.1200x800_q85_box-0%2C0%2C1000%2C1000_crop_detail.jpg">
</div>
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_AboutNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<div class="accordion-group">
							<div class="accordion-body">
								<div class="accordion-inner">
									<h2>Экспертиза промышленной безопасности</h2>
									<p>
										ООО «Стройнефтегаз» осуществляет проведение экспертизы промышленной безопасности:
									</p>
									<ul>
										<li>проектной документации на строительство, расширение, реконструкцию, техническое
перевооружение, консервацию и ликвидацию опасных производственных объектов</li>
										<li>технических устройств, применяемых на опасном про изводственном объекте</li>
										<li>зданий и сооружений, расположенных на территории опасного производственного объекта</li>
										<li>документов, связанных с эксплуатацией опасных производственных объектов</li>
									</ul>
									<p>
										На опасных объектах по видам надзора:<br />
										Д - объекты нефтегазодобычи и магистрального трубопроводного транспорта<br />
										Н - объекты нефтехимической и нефтеперерабатывающей промышленности<br />
										С - объекты систем газораспределения и газопотребления<br />

									</p>
								</div>
							</div>
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#employees-collapse"><span>Сведения о персонале&nbsp</span><i class="icon-chevron-down"></i></a>
							</div>
							<div id="employees-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>
										Эксперты ООО «Стройнефтегаз» аттестованы в соответствии с СДА-12 и обладают большим
опытом проведения экспертизы, в том числе с определением остаточного ресурса зданий и
сооружений, технических устройств, на опасных производственных объектах ОАО
«Газпром», ОАО АК «Транснефть», ООО «Лукойл».
									</p>
								</div>
							</div>
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#tech-collapse"><span>Сведения о технической оснащенности&nbsp</span>
									<i class="icon-chevron-down"></i></a>
							</div>
							<div id="tech-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>
										Для осуществления экспертизы технических устройств, зданий и сооружений на опасном
производственном объекте привлекается лаборатория неразрушающего контроля ООО
«Стройнефтегаз», аттестованная в соответствии с ПБ 03-372-00 для ведения работ на
объектах котлонадзора, систем газоснабжения, подъёмных сооружений, оборудования
нефтяной и газовой промышленности, зданий и сооружений по видам контроля:
радиационный, акустический, магнитный, проникающими веществами, электрический,
визуально-измерительный. Лаборатория имеет высокую техническую оснащённость, штат
лаборатории укомплектован специалистами П-го и Ш-го уровней, аттестованных в
соответствии с ПБ 03-440-02.
									</p>
								</div>
							</div>
						</div>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
