@{
	ViewBag.Title = "Деятельность";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AboutBackgroundPartial");>
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_AboutNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<h2>Сферы деятельности предприятия</h2>
						<ul>
							<li>объекты гражданского строительства</li>
							<li>объекты нефтегазового комплекса</li>
							<li>объекты автотранспортной системы</li>
							<li>объекты соцкультбыта и спортивных сооружений</li>
						</ul>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
