@{
	ViewBag.Title = "Контроль сварных соединений";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AboutBackgroundPartial");
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_AboutNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<div class="accordion-group">
							<div class="accordion-body">
								<div class="accordion-inner">
									<h2>Контроль сварных соединений</h2>
									<p>
										Неразрушающий контроль - обязательная и регулярная оценка характеристик материалов и
оборудования, которая проводится для выявления скрытых дефектов без разрушения
контролируемых образцов. Неразрушающий контроль проводится при строительстве
опасных производственных объектов нефтегазодобывающей отрасли.
ООО «Стройнефтегаз» проводит следующие виды неразрушающего контроля:
									</p>
									<ul>
										<li>визуально-измерительный</li>
										<li>радиационный (рентгеновский)</li>
										<li>акустический (ультразвуковой)</li>
										<li>контроль проникающими веществами</li>
										<li>магнитный контроль</li>
										<li>контроль изоляции оборудования и трубопроводов (в т.ч. после засыпки)</li>
									</ul>
									<p>
										Аттестованная лаборатория ООО «Стройнефтегаз» имеет возможность проведения
механических статических и динамических испытаний, исследование структуры материалов
(металлографические исследования и др.).
									</p>
								</div>
							</div>
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#employees-collapse"><span>Квалификация персонала&nbsp</span><i class="icon-chevron-down"></i></a>
							</div>
							<div id="employees-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Для осуществления деятельности по неразрушающему контролю сварных соединений персонал ООО "Стройнефтегаз" отвечает следующим требованиям:</p>
									<ul>
										<li>высшее образование</li>
										<li>стаж работы по специальности не менее трёх лет</li>
										<li>аттестация по видам и объектам неразрушающего контроля</li>
										<li>аттестация по промышленной безопасности</li>
									</ul>
								</div>
							</div>
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#tech-collapse"><span>Техническая оснащенность&nbsp</span>
									<i class="icon-chevron-down"></i></a>
							</div>
							<div id="tech-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>
										Для осуществления деятельности по неразрушающему контролю сварных соединений ООО "Стройнефтегаз" располагает следующими поверенными приборами и оборудованием:
									</p>
									<ul>
										<li>поверенные комплекты средств визуально-измерительного контроля</li>
										<li>рентгеновские аппараты</li>
										<li>ультразвуковые дефектоскопы</li>
										<li>ультразвуковые толщиномеры</li>
										<li>магнитные дефектоскопы</li>
										<li>электроискровые дефектоскопы</li>
										<li>установки контроля герметичности</li>
										<li>установки контроля изоляции подземных трубопроводов</li>
										<li>адгезиметры</li>
										<li>негатоскопы, денсинометры, люксметры</li>
										<li>эталоны чувствительности, наборы мер оптической плотности, стандартные образцы и другие необходимые материалы и оборудование</li>
										<li>комплекты оргтехники</li>
										<li>автотранспорт</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
