@{
	ViewBag.Title = "Лицензии и сертификаты";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal hide fade" id="modal-content">
	<div class="modal-header"></div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn">Закрыть</button>
	</div>
</div>
@Html.Partial("_InformationBackgroundPartial");
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_InformationNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<ul class="thumbnails" id="certificates-big">
							<li>
								<a data-index="11" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert11.jpg" />
								</a>
							</li>
							<li>
								<a data-index="12" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert12.jpg" />
								</a>
							</li>
							<li>
								<a data-index="13" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert13.jpg" />
								</a>
							</li>
							<li>
								<a data-index="1" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert1.jpg" />
								</a>
							</li>
							<li>
								<a data-index="2" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert2.jpg" />
								</a>
							</li>
							<li>
								<a data-index="3" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert3.jpg" />
								</a>
							</li>
							<li>
								<a data-index="4" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert4.jpg" />
								</a>
							</li>
							<li>
								<a data-index="5" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert5.jpg" />
								</a>
							</li>
							<li>
								<a data-index="6" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert6.jpg" />
								</a>
							</li>
							<li>
								<a data-index="7" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert7.jpg" />
								</a>
							</li>
							<li>
								<a data-index="8" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert8.jpg" />
								</a>
							</li>
							<li>
								<a data-index="9" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert9.jpg" />
								</a>
							</li>
							<li>
								<a data-index="10" href="javascript:;" class="thumbnail">
									<img src="~/Content/img/certificates/cert10.jpg" />
								</a>
							</li>
						</ul>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		var index = location.hash.substring(1);
		if (index) {
			showModal($('a[data-index=' + index + ']'));
			history.pushState('', document.title, window.location.pathname);
			e.preventDefault();
		}
	});
</script>
