@{
	ViewBag.Title = "Техническая оснащенность";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_InformationBackgroundPartial");
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_InformationNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>1.		Легковые а/м УАЗ 31514<br>
									</td>
								</tr>
								<tr>
									<td>2.		Грузопассажирские а/м УАЗ 390994<br>
									</td>
								</tr>
								<tr>
									<td>3.		Легковые а/м ВАЗ 21099<br>
									</td>
								</tr>
								<tr>
									<td>4.		Комплекты оргтехники (компьютеры, факсы, копировальные аппараты, сканеры)<br>
									</td>
								</tr>
								<tr>
									<td>5.		Рентгеновские аппараты типа Арина (3,5,7)<br>
									</td>
								</tr>
								<tr>
									<td>6.		Рентгеновские аппараты типа "Пион"<br>
									</td>
								</tr>
								<tr>
									<td>7.		Комплекты ВИК<br>
									</td>
								</tr>
								<tr>
									<td>8.		Дефектоскопы ультразвуковые "DIO-562"<br>
									</td>
								</tr>
								<tr>
									<td>9.		Дефектоскопы ультразвуковые типа УД2-70<br>
									</td>
								</tr>
								<tr>
									<td>10.		Толщиномеры ультразвуковые "DIO-570"<br>
									</td>
								</tr>
								<tr>
									<td>11.		Толщиномеры ультразвуковые Взлет-УТ<br>
									</td>
								</tr>
								<tr>
									<td>12.		Толщиномеры ультразвуковые ТАУ-332<br>
									</td>
								</tr>
								<tr>
									<td>13.		Установки контроля герметичности НВМ-5<br>
									</td>
								</tr>
								<tr>
									<td>14.		Электроискровые дефектоскопы "Корона-2"<br>
									</td>
								</tr>
								<tr>
									<td>15.		Устройства контроля изоляции УКИ-1К (при подземной прокладке)<br>
									</td>
								</tr>
								<tr>
									<td>16.		Магнитные дефектоскопы "Magnaflux"<br>
									</td>
								</tr>
								<tr>
									<td>17.		Измерители напряжённости магнитных полей ИМАГ-400Ц<br>
									</td>
								</tr>
								<tr>
									<td>18.		Твердомеры "Константа-КБУ"<br>
									</td>
								</tr>
								<tr>
									<td>19.		Приборы измерения геометрических параметров "Константа-5К"<br>
									</td>
								</tr>
								<tr>
									<td>20.		Комплекты эталонов чувствительности, наборов мер оптической плотности, стандартные образцы<br>
									</td>
								</tr>
								<tr>
									<td>21.		Дозиметры ДКГ-07Д<br>
									</td>
								</tr>
								<tr>
									<td>22.		Дозиметры ДК-02<br>
									</td>
								</tr>
								<tr>
									<td>23.		Неготоскопы с денситометром НС 85х400<br>
									</td>
								</tr>
								<tr>
									<td>24.		Люксметры "ТКА-Люкс"<br>
									</td>
								</tr>
								<tr>
									<td>25.		Цифровые металлоискатели DMO IOE<br>
									</td>
								</tr>
								<tr>
									<td>26.		Цифровые ультразвуковые дальномеры DUS-20<br>
									</td>
								</tr>
								<tr>
									<td>27.		Дальномеры лазерные DISTO classic<br>
									</td>
								</tr>
								<tr>
									<td>28.		Глубиномеры индикаторные ГИ-100<br>
									</td>
								</tr>
								<tr>
									<td>29.		Магнитные толщиномеры МТ 2003<br>
									</td>
								</tr>
								<tr>
									<td>30.		Адгезиметры электронные АМЦ 2-20<br>
									</td>
								</tr>
								<tr>
									<td>31.		Многофункциональные приборы для измерения геометрических параметров "Константа-К5"<br>
									</td>
								</tr>
								<tr>
									<td>32.		Резаки "DAHLE 552"<br>
									</td>
								</tr>
								<tr>
									<td>33.		Измерители прочности бетона электронные ИПС-МГ4<br>
									</td>
								</tr>
								<tr>
									<td>34.		Измерители прочности бетона ультразвуковые "Пульсар"<br>
									</td>
								</tr>
								<tr>
									<td>35.		Термометры контактно-цифровые ТК 5-0.5 с зондом ЗПВ<br>
									</td>
								</tr>
								<tr>
									<td>36.		Тахеометры электронные "Topcon" в комплекте с необходимым вспомогательным оборудованием<br>
									</td>
								</tr>
								<tr>
									<td>37.		Комплекты штангенциркулей, линеек, УШС, шаблонов "Ушерова-Маршака", рулеток<br>
									</td>
								</tr>
								<tr>
									<td>38.		Воронки для определения плотности грунта<br>
									</td>
								</tr>
								<tr>
									<td>39.		Конусы балансирные Васильева<br>
									</td>
								</tr>
								<tr>
									<td>40.		Мерные цилиндрические сосуды<br>
									</td>
								</tr>
								<tr>
									<td>41.		Приборы стандартного уплотнения<br>
									</td>
								</tr>
								<tr>
									<td>42.		Приборы для определения коэффициента фильтрации<br>
									</td>
								</tr>
								<tr>
									<td>43.		Режущие кольца-пробоотборники<br>
									</td>
								</tr>
								<tr>
									<td>44.		Наборы сит для грунтов и песков<br>
									</td>
								</tr>
								<tr>
									<td>45.		Низкотемпературные лабораторные электропечи<br>
									</td>
								</tr>
								<tr>
									<td>46.		Щупы измерительные<br>
									</td>
								</tr>
								<tr>
									<td>47.		Весы электронные<br>
									</td>
								</tr>
								<tr>
									<td>48.		Гигрометры психрометрические<br>
									</td>
								</tr>
								<tr>
									<td>49.		Аквадистиляторы электрические<br>
									</td>
								</tr>
								<tr>
									<td>50.		Статические плотномеры<br>
									</td>
								</tr>
								<tr>
									<td>51.		Програмное обеспечение Pythagoras (архитектурно-планировочные решения)<br>
									</td>
								</tr>
								<tr>
									<td>52.		Програмное обеспечение MS Project (управление проектами)<br>
									</td>
								</tr>
								<tr>
									<td>53.		Техническая электронная библиотека<br>
									</td>
								</tr>
								<tr>
									<td>54.		Архив серий, СНиПов, Гостов, ВСН и др.<br>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
