@{
	ViewBag.Title = "Вакансии";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_InformationBackgroundPartial");
<div id="content-canvas">
	<div class="home-canvas">
		@Html.Partial("_InformationNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<h2>ООО "Стройнефтегаз" приглашает на работу инженеров с высшим техническим образованием по специальностям:</h2>
						<ul>
							<li>инженер строительного контроля по надзору за сварочно-монтажными работами</li>
							<li>инженер строительного контроля по надзору за общестроительными работами</li>
							<li>инженер строительного контроля по надзору за электромонтажными работами</li>
							<li>инженер строительного контроля по надзору за ЛНК</li>
							<li>инженер производственно-технического отдела</li>
						</ul>
						<p>
							Работа связана с командировками по РФ.<br />
							Ваши резюме Вы можете направлять на электронный ящик sng@perm.ru.<br />
							Справки по телефону в Перми: (342) 244-04-44<br />
							<br />
							<strong><a href="~/Content/docs/application_form.doc" download="Анкета кандидата на работу">Скачать анкету кандидата на работу</a></strong>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
