<div class="breadcrump">
	<ul>
		<li><a href="/">Домашняя страница</a></li>
		<li><a href="~/Information">О компании</a></li>
	</ul>
</div>
<div class="sub-navigation">
	<ul>
		<li data-href="History"><a href="~/Information/History">История компании</a></li>
		<li data-href="Certificates"><a href="~/Information/Certificates">Сертификаты</a></li>
		<li data-href="Equipment"><a href="~/Information/Equipment">Техническая оснащенность</a></li>
		<li data-href="Jobs"><a href="~/Information/Jobs">Вакансии</a></li>
		<li data-href="Requisites"><a href="~/Information/Requisites">Реквизиты</a></li>
		<li data-href="Contacts"><a href="~/Information/Contacts">Контакты</a></li>
	</ul>
</div>
