<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/bootstrap.css" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script src="~/Scripts/jquery-1.7.1.js"></script>
	<script src="~/Scripts/bootstrap-all.js" type="text/javascript"></script>
	<script src="~/Scripts/App.js" type="text/javascript"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav" id="navigation-header">
					<li class="project-name"><a href="/"><span>ООО "Стройнефтегаз"</span></a></li>
					<li data-href="Information"><a href="~/Information">О компании</a></li>
					<li data-href="About"><a href="~/About">Деятельность</a></li>
					<li data-href="Projects"><a href="~/Projects">Проекты</a></li>
					<li style="padding-left: 92px; padding-top: 2px;">
						<a href="http://sng-perm.ru" target="_blank" class="btn-custom">Корпоративный<br />
							портал</a>
						@*<button class="btn btn-custom">Корпоративный портал</button>*@
					</li>
				</ul>
			</div>
		</div>
	</div>
	@RenderBody()
	<div id="footer-canvas">
		<div id="footer">
			<ul class="navigation navigation-footer">
				<li><a href="#">Карта сайта</a></li>
				<li><a href="~/Information/Contacts">Контакты</a></li>
			</ul>
			<p><a href="http://rise-tech.com/" target="_blank">developed by Rise Technology,&nbsp 2012</a></p>
		</div>
		<div id="footer-hovers">
			<div id="hover-sitemap" class="footer-hover">
				<div class="column-section">
					<h3><a href="~/Information">О компании</a></h3>
					<ul>
						<li><a href="~/Information/History">История компании</a></li>
						<li><a href="~/Information/Certificates">Сертификаты</a></li>
						<li><a href="~/Information/Equipment">Техническая оснащенность</a></li>
						<li><a href="~/Information/Jobs">Вакансии</a></li>
						<li><a href="~/Information/Requisites">Реквизиты</a></li>
						<li><a href="~/Information/Contacts">Контакты</a></li>
					</ul>
				</div>
				<div class="column-section">
					<h3><a href="~/About">Деятельность</a></h3>
					<ul>
						<li><a href="~/About/Management">Технический надзор</a></li>
						<li><a href="~/About/Responsibility">Строительное производство</a></li>
						<li><a href="~/About/Expertise">Экспертиза промышленной деятельности</a></li>
						<li><a href="~/About/Contribution">Подготовка и аттестация персонала</a></li>
					</ul>
				</div>
				<div class="column-section">
					<h3><a href="~/Projects">Проекты</a></h3>
					<ul>
						<li><a href="~/Projects#engineering">Инжиниринговые услуги</a></li>
						<li><a href="~/Projects#control">Строительный контроль по договору с заказчиком</a></li>
						<li><a href="~/Projects#maintenance">Технический надзор</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
