<div class="breadcrump">
	<ul>
		<li><a href="/">Домашняя страница</a></li>
		<li><a href="~/Projects">Проекты</a></li>
	</ul>
</div>
<div class="sub-navigation" id="sub-navigation-projects">
	<ul class="nav">
		<li><a href="#engineering">Инжиниринговые услуги</a></li>
		<li style="height: 42px;"><a href="#control" style="line-height: 15px; margin-top: 5px;">Строительный контроль по договору с заказчиком</a></li>
		<li><a href="#maintenance">Технический надзор</a></li>
	</ul>
</div>
