<div class="sub-sidebar">
	<div class="sidebar-item">
		<h2><a href="~/Information/Contacts">Контакты</a></h2>
		<div class="sidebar-item-contacts">
			<p>Телефон: +7 (342) 244-04-44</p>
			<p>Факс: +7 (342) 241-18-47</p>
			<p>E-mail: sng@perm.ru</p>
		</div>
	</div>
</div>
