<div class="sub-sidebar">
	<div class="sidebar-item">
		<h2><a href="~/Information/Contacts">Контакты</a></h2>
		<div class="sidebar-item-contacts">
			<span>+7(342) 244-04-44</span>
			<span>sng@perm.ru</span>
		</div>
	</div>
	<div class="sidebar-item">
		<h2>Сотрудникам</h2>
		<a id="portal" class="btn btn-block btn-large" href="http://sng-perm.ru/" target="_blank">Корпоративный портал</a>
	</div>
	<div class="sidebar-item">
		<h2><a href="~/Information/Certificates">Сертификаты</a></h2>
		<ul class="thumbnails" id="certificate-small">
		</ul>
	</div>
</div>
