@{
	ViewBag.Title = "Домашняя страница";
	Layout = @Url.Content("/Views/Shared/_Layout.cshtml");
}
<div class="map-wrapper">
	<div class="map">
		<div class="map-close" onclick="hideMap()">
			<div>Закрыть</div>
		</div>
		<img src="~/Content/img/misc/2000px-regions.png" />
		<div class="map-city" id="jaroslavl" data-original-title="Ярославль"></div>
		<div class="map-city" id="bratsk" data-common-source="blt" data-common-title="Братск, Ленск, Тында" data-original-title="Братск"></div>
		<div class="map-city" id="samara" data-placement="bottom"  data-original-title="Самара"></div>
		<div class="map-city" id="lensk" data-common-source="blt" data-common-title="Братск, Ленск, Тында" data-original-title="Ленск"></div>
		<div class="map-city" id="uhta" data-original-title="Ухта"></div>
		<div class="map-city" id="tynda" data-placement="bottom" data-common-source="blt" data-common-title="Братск, Ленск, Тында" data-original-title="Тында"></div>
		<div class="map-city" id="urengoy" data-original-title="Новый уренгой"></div>
		<div class="map-city" id="peterburg" data-original-title="Санкт-Петербург"></div>
		<div class="map-city" id="tarko" data-placement="right" data-original-title="Тарко-Сале"></div>
		<div class="map-city" id="ulakan" data-placement="right" data-original-title="Улакан"></div>
		<div class="map-city" id="nahodka"  data-placement="bottom" data-common-source="vsto" data-common-title="Находка, Хабаровск, Биробиджан, Благовещенск" data-original-title="Находка"></div>
		<div class="map-city" id="blagoveshensk" data-placement="bottom" data-common-source="vsto" data-common-title="Находка, Хабаровск, Биробиджан, Благовещенск" data-original-title="Благовещенск"></div>
		<div class="map-city" id="birobidjan" data-placement="right" data-common-source="vsto" data-common-title="Находка, Хабаровск, Биробиджан, Благовещенск" data-original-title="Биробиджан"></div>
		<div class="map-city" id="krasnoyarsk" data-common-source="vankor" data-common-title="Красноярск, Норильск" data-original-title="Красноярск"></div>
		<div class="map-city" id="norilsk" data-common-source="vankor" data-common-title="Красноярск, Норильск" data-original-title="Норильск"></div>
		<div class="map-city" id="tobolsk" data-placement="right" data-original-title="Тобольск"></div>
		<div class="map-city" id="perm" data-original-title="Пермь"></div>
		<div class="map-city" id="astrahan" data-original-title="Астрахань"></div>
		<div class="map-city" id="kazan" data-original-title="Казань"></div>
		<div class="map-city" id="chelny" data-placement="right" data-original-title="Набережные Челны"></div>
		<div class="map-city" id="kotlas" data-original-title="Котлас"></div>
		<div class="map-city" id="nefteugansk" data-original-title="Нефтеюганск"></div>
		<div class="map-city" id="habarovsk" data-common-source="vsto" data-common-title="Находка, Хабаровск, Биробиджан, Благовещенск" data-original-title="Хабаровск"></div>
		<div class="map-city" id="tumen" data-placement="bottom" data-original-title="Тюмень"></div>
	</div>
</div>
<div id="slides-canvas" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="~/Content/img/slider2.jpg" />
		</div>
		<div class="item">
			<img src="~/Content/img/slider1.jpg" />
		</div>
		<div class="item">
			<img src="~/Content/img/slider3.jpg" />
		</div>
		<div class="item">
			<img src="~/Content/img/slider5.jpg" />
		</div>
		<div class="item">
			<img src="~/Content/img/slider6.jpg" />
		</div>
		<div class="item">
			<img src="~/Content/img/slider7.jpg" />
		</div>
	</div>
	<a class="carousel-control left" href="#slides-canvas" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#slides-canvas" data-slide="next">&rsaquo;</a>
</div>
<div id="content-canvas">
	<div class="home-canvas" id="home-canvas-main">
		<div class="switcher left">
			<div class="switcher-arrow left"></div>
		</div>
		<div id="home">
			<div id="home-slideshow">
				<div id="slideshow-controls">
					<a href="javascript:;" class="active">1</a>
					<a href="javascript:;">2</a>
					<a href="javascript:;">3</a>
					<a href="javascript:;">4</a>
					<a href="javascript:;">5</a>
				</div>
				<div id="slideshow-slides">
					<div class="slideshow-slide active">
						<img src="~/Content/img/slideshow/slideshow1.jpg" />
						<div class="caption-inner">
							<h2>Строительный контроль</h2>
							<h4>Проверка соответствия выполняемых работ проектно-сметной документации, требованиям технических регламентов, строительных норм и правил</h4>
							<a href="~/About/Maintenance">Подробнее</a>
						</div>
					</div>
					<div class="slideshow-slide">
						<img src="~/Content/img/slideshow/slideshow2.jpg" />
						<div class="caption-inner">
							<h2>Строительный инжиниринг</h2>
							<h4>Инженерное обеспечение строительства, охватывающее все фазы рееализации инвестиционно-строительных проектов</h4>
							<a href="~/About/Engineering">Подробнее</a>
						</div>
					</div>
					<div class="slideshow-slide">
						<img src="~/Content/img/slideshow/slideshow3.jpg" />
						<div class="caption-inner">
							<h2>Контроль сварных соединений</h2>
							<h4>Неразрушающий контроль сварных соединений и изоляции оборудования и трубопроводов</h4>
							<a href="~/About/Welding">Подробнее</a>
						</div>
					</div>
					<div class="slideshow-slide">
						<img src="~/Content/img/slideshow/slideshow5.jpg" />
						<div class="caption-inner">
							<h2>Экспертиза промышленной безопасности</h2>
							<h4>Оценка соответствия проектной докуменатции, технических устройств, зданий и сооружений требованиям промышленной безопасности</h4>
							<a href="~/About/Expertise">Подробнее</a>
						</div>
					</div>
					<div class="slideshow-slide">
						<img src="~/Content/img/slideshow/slideshow4.jpg" />
						<div class="caption-inner">
							<h2>Подготовка и аттестация персонала</h2>
							<h4>Учебный центр по подготовке и аттестации инженерно-технического персонала опасных производственных объектов</h4>
							<a href="~/About/Attestation">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<div id="home-teasers">
				<div class="home-teaser">
					<a href="~/Information/Certificates">
						<h2>Лицензии и сертификаты</h2>
					</a>
					<ul id="certificates" class="thumbnails thumbnails-tiny thumbnails-certificates">
					</ul>
				</div>
				<div class="home-teaser" onclick="showMap()">
					<h2>Наша география</h2>
					<div id="map-image"></div>
				</div>
				<div class="home-teaser">
					<a href="~/Information/Reviews">
						<h2>Отзывы</h2>
					</a>
					<ul id="reviews" class="thumbnails thumbnails-tiny thumbnails-certificates">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		renderImages(certificates, $('#certificates'), 4, true);
		renderImages(reviews, $('#reviews'), 4, true);
	});
</script>
