@{
	ViewBag.Title = "Проекты";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ProjectsBackgroundPartial");
<div id="content-canvas" data-spy="scroll" data-target=".sub-navigation">
	<div class="home-canvas">
		@Html.Partial("_ProjectsNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a id="engineering" class="accordion-toggle" data-toggle="collapse" href="#engineering-collapse"><span>Инжиниринговые услуги&nbsp</span><i class="icon-chevron-down"></i></a>
							</div>
							<div id="engineering-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<section>
										<table class="table table-bordered table-custom">
											<tr>
												<th class="description">Наименование Заказчика строительства, объект строительства</th>
											</tr>
											<tr>
												<td>
													<h5>ОАО "Севернефтегазпром"</h5>
													Южно-Русское нефтегазовое месторождение<br />
												</td>

											</tr>
											<tr>
												<td>
													<h5>ОАО "НК "Роснефть"</h5>
													<span>ОАО "Самаранефтегаз"</span><br />
													Газопровод Ванкор-Хальмерпаютинское от ЦРС Ванкорского месторождения до межпромыслового газопровода
							ООО "Лукойл-Западная Сибирь"<br />
													Ванкорское месторождение. Система сбора Север. Промысловые трубопроводы.<br />
													Площадка куста скважин №109. Площадка куста водозаборных скважин №7.
												</td>

											</tr>
											<tr>
												<td>
													<h5>ОАО "НК "Роснефть"</h5>
													<span>ОАО "Самаранефтегаз"</span><br />
													Магистральный нефтепровод "Ванкорское месторождение - НПС "Пурпе"<br />
													Ванкорское месторождение
												</td>

											</tr>
											<tr>
												<td>
													<h5>ЗАО "Севернефть"</h5>
													Восточно-Уренгойское и Северо-Есетинское месторождения Западно-Яроязинского лицензионного участка
												</td>

											</tr>
											<tr>
												<td>
													<h5>ЗАО "Ямалгазинвест"</h5>
													Расширение Уренгойского газотранспортного узла
												</td>

											</tr>
											<tr>
												<td>
													<h5>ОАО "Арктикгаз"</h5>
													Самбургское нефтегазоконденсатное месторождение
												</td>

											</tr>
											<tr>
												<td>
													<h5>ООО "Новоуренгойский газохимический комплекс"</h5>
													Новоуренгойский газохимический комплекс
												</td>

											</tr>
										</table>
									</section>
								</div>
							</div>
							<br />
							<div class="accordion-heading">
								<a id="control" class="accordion-toggle" data-toggle="collapse" href="#control-collapse"><span>Строительный контроль по договору с заказчиком&nbsp</span><i class="icon-chevron-down"></i></a>
							</div>
							<div id="control-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<section>
										<table class="table table-bordered table-custom">
											<tr>
												<th class="description">Наименование Заказчика строительства, объект строительства</th>
											</tr>
											<tr>
												<td>
													<h5>ООО «Новатэк»</h5>
													<span>ООО «Новатэк-Таркосаленефтегаз»
													</span>
													<br />
													Юрхаровское нефтегазовое месторождение<br />
													Восточно-Таркосалинское месторождение<br />
													Обустройство газоконденсатного промысла.<br />
													УНТС. ДКС<br />
													Ханчейское месторождение
												</td>
											</tr>
											<tr>
												<td>
													<h5>ЗАО «Североргсинтез»</h5>
													Производственный комплекс по переработке газа УПБС-100
												</td>

											</tr>
											<tr>
												<td>
													<h5>ОАО «АК «Транснефть»</h5>
													<span>ООО «Центр Управления проектом «Восточная Сибирь - Тихий океан»
													</span>
													<br />
													Трубопроводная система Восточная Сибирь-Тихий Океан ВСТО-1
								<br />
													<br />
													<span>ООО «Спецморнефтепорт Козьмино»
													</span>
													<br />
													Спецморнефтепорт «Козьмино» 
								<br />
													<br />
													<span>ООО «Дальневосточные магистральные нефтепроводы»
													</span>
													<br />
													Трубопроводная система Восточная Сибирь-Тихий Океан ВСТО-2. Линейная часть протяженностью L=2080 км, в т.ч. НПС «Сковородино», НПС 21,27,30,34,36,38,40,41
								<br />
													<br />
													<span>ОАО «Северные магистральные трубопроводы»
													</span>
													<br />
													Реконструкция резервуара РВС на НПС "Ухта-1", ПСУ "Ухта", НПС "Приводино" 
								<br />
													<br />
													<span>ОАО «Северо-западные магистральные трубопроводы»
													</span>
													<br />
													Реконструкция МН Альметьевск-Горький 3, МНПП Альметьевск-Н.Новгород<br />
													Замена участков МН Киенгоп-Н.Челны, МН Альметьевск-Горький-2, МН Альмстьсвск-Горький-3, МН Пермь-Альметьевск, МН Альметьевск - Куйбышев1, МН Альметьевск - Куйбышсв2<br />
													Устранение дефектов на секциях выборочным ремонтом УРНУ, ПРНУ, КРНУ, API 1У, РР<br />
													Техническое перевооружение и капитальный ремонт объектов НПС "Дебссы", "Ковали", "Арлеть", "Малая Пурга", "Ромашкино", "Калинов ключ", «Калейкино», «Набережные Челны», «Елизаветинка», «Лысьва», «Осенцы», «Большая Соснова», «Тиньговатово» 
								<br />
													<br />
													<span>ООО «Балтнефтепровод»
													</span>
													<br />
													Обустройство береговых задвижек ППМН ВРНУ МН " Кириши-Приморск", МН "Палкино-Приморск"
								<br />
													<br />
													<span>ООО «Сибнефтепровод»
													</span>
													<br />
													ЛЭС "НПС-16", ЛЭС "НПС-13", ЛЭС "Тында", ЦРС "Талакан", ЦРС "Олекминск".<br />
													Ремонт дефектов на секциях МН Тобольского, Ноябрьского, Нефтеюганского, Сургутского, Урайского, Нижневартовского, Тюменского, Ишимского УМН
												</td>

											</tr>
											<tr>
												<td>
													<h5>ОАО «НК «Роснефть»</h5>
													<span>ОАО «Самаранефтегаз»</span>
													<br />
													Газопровод УПСВ Горбатовская - Нефтегорский ГПЗ
												</td>

											</tr>
										</table>
									</section>
								</div>
							</div>
							<br />
							<div class="accordion-heading">
								<a id="maintenance" class="accordion-toggle" data-toggle="collapse" href="#maintenance-collapse"><span>Технический надзор&nbsp</span><i class="icon-chevron-down"></i></a>
							</div>
							<div id="maintenance-collapse" class="accordion-body collapse">
								<div class="accordion-inner">
									<section>
										<table class="table table-bordered table-custom">
											<tr>
												<th class="description">Наименование Заказчика строительства, объект строительства</th>

											</tr>
											<tr>
												<td>
													<h5>Министерство образования Пермского края</h5>
													МДОУ «Центры развития ребенка Детские сады» г.Добрянка, «Ключевской детский сад», «Литовский детский сад».<br />
													МОУ «Сенькинская основная общеобразовательная школа», «Усть-Гаревская основная образовательная школа», «Добрянская средняя общеобразовательная школа №4»,
								«Гаринская основная общеобразовательная школа», «Вильвенская средняя общеобразовательная школа», «Никулинская основная общеобразовательная школа»
												</td>

											</tr>
										</table>
									</section>
								</div>
							</div>
						</div>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
