@{
	ViewBag.Title = "Проекты";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ProjectsBackgroundPartial");
<div id="content-canvas" data-spy="scroll" data-target=".sub-navigation" data-offset="-1">
	<div class="home-canvas">
		@Html.Partial("_ProjectsNavigationPartial")
		<div class="sub-canvas">
			<div class="sub-content-canvas">
				<div class="sub-content">
					<div class="sub-content-main">
						<div class="accordion-group">
							<div class="accordion-item" id="6-9">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#6-9-collapse"><span>2006 &mdash; 2009&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="6-9-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ОАО "Севернефтегазпром"</h5>
														Южно-Русское нефтегазовое месторождение<br />
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
							<div class="accordion-item" id="7-9">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#7-9-collapse"><span>2007 &mdash; 2009&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="7-9-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ЗАО «Североргсинтез»</h5>
														Производственный комплекс по переработке газа УПБС-100<br />
													</td>
													<td>Строительный контроль по договору с заказчиком, инжиниринговые услуги

													</td>
												</tr>
												<tr>
													<td>
														<h5>ЗАО «Севернефть»</h5>
														Восточно-Уренгойское и Северо-Есетинское месторождения Западно-Ярояхинского лицензионного участка<br />
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
							<div class="accordion-item" id="8-9">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#8-9-collapse"><span>2008 &mdash; 2009&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="8-9-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ЗАО «Ямалгазинвест»</h5>
														Расширение Уренгойского газотранспортного узла
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
												<tr>
													<td>
														<h5>ОАО «Арктикгаз»</h5>
														Самбургское нефтегазоконденсатное месторождение
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
														<div class="accordion-item" id="10">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#10-collapse"><span>2010&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="10-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ОАО «Мечел»</h5>
														Железнодорожная линия Улак - Эльга<br />
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
												<tr>
													<td>
														<h5>Министерство образования Пермского края  </h5>
														МДОУ «Центры развития ребенка Детские сады» г.Добрянка, «Ключевской детский сад», «Липовский детский сад».
														<br />
														МОУ «Сенькинская основная общеобразовательная школа», «Усть-Гаревская основная образовательная школа», «Добрянская средняя общеобразовательная школа №4», «Гаринская основная общеобразовательная школа», «Вильвенская средняя общеобразовательная школа», «Никулинская основная общеобразовательная школа»
													</td>
													<td>Технический надзор в рамках программы по оказанию содействия муниципальным школьным и дошкольным учреждениям
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
							<div class="accordion-item" id="11">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#11-collapse"><span>2011&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="11-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ОАО «НК «Роснефть»</h5>
														<span>ОАО «Самаранефтегаз»</span>
														Газопровод УПСВ Горбатовская - Нефтегорский ГПЗ
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
							<div class="accordion-item" id="8-12">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#8-12-collapse"><span>2008 &mdash; 2012&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="8-12-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ООО «Новатэк»</h5>
														<span>ООО «Новатэк-Таркосаленефтегаз»</span>
														<span>ООО «Новатэк-Юрхаровнефтегаз»</span>
														Юрхаровское нефтегазовое месторождение.<br />
														Восточно-Таркосалинское месторождение.													
														<br />
														Ханчейское месторождение.
													</td>
													<td>Строительный контроль по договору с заказчиком, инжиниринговые услуги
													</td>
												</tr>
												<tr>
													<td>
														<h5>ООО «Новоуренгойский газохимический комплекс» </h5>
														Новоуренгойский газохимический комплекс
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
							<div class="accordion-item" id="9-12">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#9-12-collapse"><span>2009 &mdash; 2012&nbsp;</span><i class="icon-chevron-down"></i></a>
								</div>
								<div id="9-12-collapse" class="accordion-body">
									<div class="accordion-inner">
										<section>
											<table class="table table-bordered table-custom">
												<tr>
													<th class="description">Наименование Заказчика строительства, объект строительства</th>
													<th class="description">Виды работ</th>
												</tr>
												<tr>
													<td>
														<h5>ОАО «АК «Транснефть»</h5>
														<span>ООО «Центр Управления проектом «Восточная Сибирь – Тихий океан» </span>
														Трубопроводная система Восточная Сибирь-Тихий Океан ВСТО-1<br />
														<span>xООО «Спецморнефтепорт Козьмино»</span>
														Спецморнефтепорт «Козьмино»<br />
														<span>ООО «Дальневосточные магистральные нефтепроводы» </span>
														Трубопроводная система Восточная Сибирь-Тихий Океан ВСТО-2. Линейная часть протяженностью L=2080 км, в т.ч. НПС «Сковородино», НПС 21,27,30,34,36,38,40,41
														<br />
														<span>ОАО «Северные магистральные трубопроводы»</span>
														Реконструкция резервуара РВС на НПС "Ухта-1", ПСУ "Ухта", НПС "Приводино"
														<br />
														<span>ОАО «Северо-западные магистральные трубопроводы»</span>
														Реконструкция МН Альметьевск-Горький 3, МНПП Альметьевск-Н.Новгород.<br />
														Замена участков МН Киенгоп-Н.Челны, МН Альметьевск-Горький-2, МН Альметьевск-Горький-3, МН Пермь-Альметьевск,  МН Альметьевск - Куйбышев1, МН Альметьевск – Куйбышев2.<br />
														Устранение дефектов на секциях выборочным ремонтом УРНУ, ПРНУ, КРНУ, АРНУ. Техническое перевооружение и капитальный ремонт объектов НПС "Дебесы", "Ковали", "Арлеть", "Малая Пурга", "Ромашкино", "Калинов ключ", «Калейкино», «Набережные Челны», «Елизаветинка», «Лысьва», «Осенцы», «Большая Соснова», «Тиньговатово»<br />
														<span>ООО «Балтнефтепровод»</span>
														Обустройство береговых задвижек ППМН ВРНУ МН " Кириши-Приморск", МН "Палкино-Приморск",  ППМН ВРНУ МН " Кириши-Приморск" Ду 700 р. Нева км 638<br />
														<span>ООО «Сибнефтепровод»</span>
														ЛЭС "НПС-16", ЛЭС "НПС-13", ЛЭС "Тында", ЦРС "Талакан", ЦРС "Олекминск".<br />
														Ремонт дефектов на секциях МН Тобольского, Ноябрьского, Нефтеюганского, Сургутского, Урайского, Нижневартовского, Тюменского, Ишимского УМН
													</td>
													<td>Строительный контроль по договору с заказчиком
													</td>
												</tr>
												<tr>
													<td>
														<h5>ОАО «НК «Роснефть»</h5>
														<span>ЗАО «Ванкорнефть»</span>
														Ванкорское нефтегазовое месторождение<br />
														Газопровод Ванкор-Хальмерпаютинское от ЦРС Ванкорского месторождения до межпромыслового газопровода ООО «Лукойл-Западная Сибирь<br />
														Ванкорское месторождение. Система сбора Север. Промысловые трубопроводы. Площадка куста скважин №109. Площадка куста водозаборных скважин №7<br />
														Магистральный нефтепровод  «Ванкорское месторождение – НПС «Пурпе».
													</td>
													<td>Инжиниринговые услуги
													</td>
												</tr>
											</table>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
					@Html.Partial("_SideBarPartial")
				</div>
			</div>
		</div>
	</div>
</div>
